/* .comments {
    height: fit-content;
    width: 860px;
    border: 2px solid #a1a1a1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    }


.commentImage {
  height: 200px;
  width: 300px;
  border-radius: 5px;
} */

.anyComments{
    cursor: pointer;
} 