/* TODO Add site wide styles */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background-color: gray;
}

* {
  font-family: Neue Helvetica;
}

.errorText{
  display: flex;
  color:darkred;
  margin-left: 5px;
}

button {
  border: none;
  height: 30px;
  width: 60px;
  background-color: lightgray;
  color: black;
  border-radius: 2px;
}