.mainSignUpPage {
  width: 360px;
  margin: 0 auto;
}

.formSignUpPage {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(250 250 250);
    padding: 100px 0;
    background-image: url("https://res.cloudinary.com/dxo7djnid/image/upload/v1638242586/spacestagram/spacestagram_background_img_moon_wjgon5.png");
    background-size: 100%;
    background-position: 0px -200x;
    background-repeat: no-repeat;
    color: lightgray;
    background-size: cover;
    position: fixed;
}

.signUp-h1{
    text-align: center;
}

.formWrapper {
  width: 100%;
  border: 1px solid rgb(230, 224, 224);
  background: white;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagline-wrapper {
  width: 25%;
  position: absolute;
  top: 30%;
  left: 50px;
}

.tagline-wrapper span {
  font-size: 30px;
  color: white;
  font-family: "Inter", sans-serif;
}

.imageWrapper {
  width: 180px;
  margin: 0 auto 16px auto;
}

.signUpFormOnLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countableLogo {
  width: 100%;
}

.logInForm {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  width: 100%;
  background: white;
  border: 1px solid rgb(230, 224, 224);
  padding: 24px 0;
}

.link {
  color: #0095f6;
  font-weight: 600;
}

.signUpFormInput {
  width: 100%;
  height: 38px;
  border-radius: 3px;
  display: block;
  border: 1px solid grey;
  color: black;
  font-size: 14px;
  margin: 4px 0;
  padding: 0 8px;
}

.add-pic-wrapper {
  width: 100%;
  position: relative;
}



.signUpButton {
  width: 100%;
  background-color: #0095f6;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  margin-top: 10px;
  cursor: pointer;
}

.profilePictureSignUp {
  color: rgb(192, 190, 190);
}

.tick {
  position: absolute;
  color: green;
  right: -20px;
  top: 20px;
}
